*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: #F2F6FF;
}

.disable {
  background-color: #E7EEEC !important;
  border: 1px solid #E7EEEC !important;
  cursor: no-drop !important;
  color: gray !important;
  font-weight: bold !important;
}
.skeletor {
  width: 100vw;
  margin-top: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}
