*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}

.disable {
  background-color: #E7EEEC !important;
  border: 1px solid #E7EEEC !important;
  cursor: no-drop !important;
  color: #313131 !important;
  font-weight: bold !important;
}